<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dzieniu.minesweeper">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.Login"
            android:theme="@style/noBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainMenu"
            android:theme="@style/noBarTheme" />
        <activity
            android:name=".activity.DifficultyChoice"
            android:theme="@style/noBarTheme" />
        <activity
            android:name=".activity.CustomGame"
            android:theme="@style/noBarTheme" />
        <activity
            android:name=".activity.GameBoard"
            android:parentActivityName=".activity.MainMenu"
            android:theme="@style/noBarTheme" />
        <activity
            android:name=".activity.GameEndPopup"
            android:theme="@style/noBarTheme" />
        <activity
            android:name=".activity.HighScorePopup"
            android:theme="@style/noBarTheme" />
        <activity
            android:name=".activity.leaderboard.LeaderBoard"
            android:theme="@style/noBarTheme"></activity>
    </application>

</manifest>